<nav>
    <ul>
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="/api"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >API</a
        >
      </li>
      <li>
        <a
          routerLink="/contact"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Contact</a
        >
      </li>
    </ul>
  </nav>
  